$pc:1440px;
$labtop:1024px;
$mobile:640px;

// @import "../global/globalCss/global.scss";
// @media screen and (min-width:$labtop) and (max-width:$pc){}
// @media (min-width:$mobile) and (max-width:$labtop){}
// @media (max-width:$mobile) {}