.ButtonList{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    button{
        position: relative;
        height: 150px;
        width: calc(100vw/4);
        min-width: 380px;
        margin: 0 auto;
        font-size: 2rem;
        color: black;
        font-weight: 800;
        overflow: hidden;
        box-shadow: 2px 3px 10px 2px gray;
        border-radius: 20px;
        &:nth-child(1){
            background-color: rgb(245, 211, 166)!important;
            background:url('../../../public/photos/ButtonList/TomJerry1.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            .inner{
                background:url('../../../public/photos/ButtonList/TomJerry2.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-color: palevioletred!important;
                transition: 1s all ease-in-out;
                position: absolute;
                top: 0;
                left: 0;
                height: inherit;
                width: inherit;
                -webkit-clip-path: circle(20% at 0% 0%);
                clip-path: circle(20% at 0% 0%);
            }
            &:hover .inner{
                -webkit-clip-path: circle(100%); 
                clip-path: circle(100%); 
            }
        }

        &:nth-child(2){
            background: url('../../../public/photos/ButtonList/SquarePants1.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-color: rgb(229, 250, 215);
            overflow: visible;
            box-shadow: 2px 3px 10px 2px rgba(128, 128, 128, 0.5);
            .inner{
                background: url('../../../public/photos/ButtonList/SquarePants2.png');
                background-size: cover;
                background-position: center;
                position: absolute;
                top: 0;
                left: 0;
                height: inherit;
                width: inherit;
                color: rgb(10, 6, 28);
                box-shadow: 2px 3px 10px 2px gray; 
                transform-origin: bottom right;
                transition: 1s all ease-in-out;                
            }
            &:hover .inner{
                -webkit-animation: 1.5s button_hide forwards ease-in-out ;
                animation: 1.5s button_hide forwards ease-in-out;
            }
            &:not(hover) .inner{
                -webkit-animation: 1.5s button_show forwards;
                animation: 1.5s button_show backwards;
            }
        }

        &:nth-child(3){
            overflow: visible;
            box-shadow: none;
            background-color: transparent;
            .buttonfront,.buttonback{
                box-shadow: 2px 3px 10px 2px rgb(128, 128, 128);
                border-radius: 20px;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                transition: 1s all ease-in-out;
                &:hover{
                    letter-spacing: 10px;
                    font-size: 2.5rem;
                }
            }
            .buttonfront{
                background: url('../../../public/photos/ButtonList/Digimon1.jpg');
                background-size: cover;
                background-position:top;
            }
            .buttonback{
                background: url('../../../public/photos/ButtonList/Digimon2.jpg');
                background-size: cover;
                background-position:top;
                position: absolute;
                top: 0;
                left: 0;
                height: inherit;
                width: inherit;
                transform: rotateY(180deg);
            }
        }

        &:nth-child(4){
            overflow: visible;
            &::after{
                border-radius: 20px;
                position: absolute;
                top: 0%;
                left: 0%;
                content: '';
                animation: 4s rotate forwards infinite;
                background: rgb(92,107,253);
                background: linear-gradient(90deg, rgb(135, 146, 241) 10%, rgb(240, 143, 230) 20%, rgba(255,95,162,1) 30%, rgba(255,143,113,1) 40%, rgba(255,198,89,1) 49%, rgba(255,254,129,1) 61%, rgba(100,251,211,1) 100%);                
                background-position: center;
                background-size: cover;
                height: 100%;
                width: 100%;
            }
            .inner{
                border-radius: 20px;
                width: 100%;
                height: 100%;
                background: url('../../../public/photos/ButtonList/XiaoXin1.gif');
                background-size: contain;
                background-position:center;
                background-repeat: no-repeat;
                background-color: rgb(231, 240, 253);
                inset: -5px;
                z-index: 1;
                transition: .3s all ease-in-out;
                &:hover{
                    width: 96%;
                    height: 93%;
                    background-color: rgb(231, 240, 253);
                    background-image: url('../../../public/photos/ButtonList/XiaoXin2.gif');
                }
            }
        }
        &:nth-child(5){
            background-image: url('../../../public/photos/ButtonList/totoro_background2.gif');
            background-position: center!important;
            background-size: cover!important;
            filter: brightness(1.2);
            color: rgba(245, 245, 245, 0.495);
            transition: .3s all ease-in-out;
            &:hover{
                filter: brightness(1.4);
                color: beige;
            }
        }
        &:nth-child(6){
            background-image: url('../../../public/photos/ButtonList/doraemon_noeye.png');
            background-position: top;
            background-color: beige;
            .eyes_left,.eyes_right{
                position: absolute;
                top: 35%;
                height: 40px;
                width: 30px;
            }
            .eyes_left{
                left: 36%;
            }
            .eyes_right{
                right: 36%;
            }
        }
    }
}

@keyframes button_hide {
    0%{
        transform: translateY(0) rotate(0deg);
        z-index: 0;
    }30%{
        transform: translateY(-105%) rotate(10deg);
        z-index: 0;
    }35%{
        transform: translateY(-105%) rotate(10deg);
        z-index: -1;
    }
    100%{
        transform: translateY(0%);
        z-index: -1;
    }
}

@keyframes button_show {
    0%{
        transform: translateY(0);
        z-index: -1;
    }30%{
        transform: translateY(-105%) rotate(10deg);
        z-index: -1;
    }35%{
        transform: translateY(-105%) rotate(10deg);
        z-index: 0;
    }
    100%{
        transform: translateY(0%);
        z-index: 0;
    }
}

@keyframes rotate {
    from{
        filter: hue-rotate(0deg);
    }
    to{
        filter: hue-rotate(360deg);
    }
}


// https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/RGB_color_wheel_360.svg/2048px-RGB_color_wheel_360.svg.png