.Header_wrapper{
    --first_color:red;
    --second_color:lightblue;
    --third_color:lightgreen;
    --fourth_color:purple;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    h1,span{
        font-size: 4rem;
        text-transform: capitalize;
    }
    .word_container{
        position: relative;
        margin: 0 auto;
        min-height: 100px;
        width: 350px;
        overflow: hidden;
        
        span{
            display: flex;
            position:absolute;
            top:100%;
            left:0;
            padding: 10px 0;
            width: inherit;
            justify-content: center;
            
            &:nth-child(1){
                color: var(--first_color);
            }
            &:nth-child(2){
                color: var(--second_color);
            }
            &:nth-child(3){
                color: var(--third_color);
            }
            &:nth-child(4){
                color: var(--fourth_color);
            }
            &[text="show"]{
                transform: translateY(-100%);
                transition: .5s transform ease-in-out;
            }
            &[text="up"]{
                transform: translateY(-200%);
                transition: .5s transform ease-in-out;
            }
        }
        
    }
}